/************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/************************************************/
.welcome {
  background-image: url(../image/make\ design\ bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  width: 50px;
}

.arrow {
  gap: 15px;
}

/************************************************/
.toggle-btn {
  gap: 15px;
  margin-right: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 1000;
}

.switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.input:checked + .slider {
  background-color: #2196f3;
}
.input:checked + .slider:before {
  transform: translateX(26px);
}

.input:checked + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.darkstyle {
  background-color: #121212;
  color: #fff;
}

/************************************************/
.right,
.left {
  background-color: #0caa7d;
  border-radius: 8px;
}
.right :hover,
.left :hover {
  background-color: #fb1004;
  color: #fff;
  border-radius: 8px;
}

.right {
  margin-left: 25px;
}

.left {
  margin-right: 25px;
}

.banner-text {
  margin: 25px 0;
  gap: 25px;
}
.banner-text h1 {
  font-size: 65px;
}
.banner-text button {
  outline: none;
  border: none;
  background-color: #fb1004;
  color: #fff;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

/************************************************/
.make-image {
  transform: translate(-50px, -90px);
  padding-left: 25px;
}
.make-image img {
  height: 100vh;
  width: 100%;
}

/************************************************/
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  padding: 15px;
  background-color: #0caa7d;
  color: #fff;
}
.nav-menu .menu {
  margin-left: 90px;
}
.nav-menu .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 0;
  padding: 0;
}
.nav-menu .menu ul li {
  list-style: none;
}
.nav-menu .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-right: 90px;
}
.nav-menu p {
  margin-bottom: 0;
  padding: 0;
}

.menu-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

/************************************************/
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about .about-image {
  height: 90vh;
  width: 100vw;
}
.about .about-image img {
  width: 100%;
  height: 100%;
}
.about .about-text {
  padding: 0 55px;
  width: 100%;
}
.about .about-text h2 {
  font-weight: 700;
}
.about .about-text p {
  padding: 35px 0;
}
.about .about-text button {
  outline: none;
  border: none;
  background-color: #fb1004;
  color: #fff;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

/************************************************/
.doing {
  margin: 100px 0;
}
.doing h2 {
  font-weight: 700;
}
.doing .elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.doing .elements div:nth-child(odd) {
  background-color: #fb1004;
}
.doing .elements div:nth-child(even) {
  background-color: #0caa7d;
}
.doing .elements div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  margin-top: 25px;
  padding-top: 25px;
  width: 250px;
  text-align: center;
  height: 250px;
  color: #fff;
}

/************************************************/
.skills {
  padding: 50px 0;
  background-image: url(../image/skill-bg.jpg);
  color: #fff;
  height: 70vh;
}
.skills .container h2 {
  font-weight: 700;
}
.skills .container .circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.skills .container .circles div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.skills .container .circles div .circle {
  margin-top: 80px;
}
.skills .container .circles div .circle .progress_text {
  font-size: 25px !important;
  font-weight: bold;
}
.skills .container .circles div h6 {
  font-size: 17px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */